.background {
  margin: 20px auto;
  overflow: hidden;
  padding-top: 10px;
}

h1 {
  padding-bottom: 5%;
  transition: 0.3s;
  text-align: center;
}

h1:hover {
  transition-timing-function: ease-in;
  color: #949063;
}

.back-button:hover,
.nav-btn:hover,
.socialLink:hover {
  transition-timing-function: ease-in;
  color: #949063;
  border-color: #949063;
}
/*Opener*/

.nav-btn {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 10px;
  margin: 2.5% auto;
  transition: 0.3s;
  display: block;
  width: 8em;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socialLink {
  padding: 5%;
  color: var(--text-color);
  font-size: 30px;
  transition: 0.3s;
}

/*About*/

.underlineH1 {
  text-decoration: underline 2px var(--text-color);
  text-underline-offset: 10px;
}
.underlineH1:hover {
  text-decoration: underline 2px #949063;
}

.back-button {
  font-size: 25px;
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 5px;
  text-align: start;
  transition: 0.3s;
  margin: 2%;
}

p {
  text-align: center;
  font-size: 1em;
  width: 70%;
  margin: auto;
  color: var(--text-color);
}

/*Portfolio*/

.proj-link {
  justify-content: space-between;
  display: flex;
}

.proj {
  margin: 30px;
}

.proj:hover {
  color: #949063;
}

.proj h4 {
  text-align: center;
  padding: 5px;
}

/*Contact*/

.alert {
  justify-content: center;
}
