#darkMode {
  background-image: url("../images/sun.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

#darkMode:hover,
#darkMode:focus {
  cursor: pointer;
}

#darkMode.clicked {
  background-image: url("../images/moon.png");
  background-color: transparent;
}

/* Media Queries*/
/*Phone*/
/* Portrait */

@media only screen and (max-width: 500px) and (orientation: portrait) {
  #darkMode {
    top: 25px;
  }
}

/* Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
  #darkMode {
    top: 25px;
    right: 30px;
  }
}
