@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    font-weight: 300;
}

body {
     background-color: #c6e2f6;
     color: #000;
}

.App {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

