@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  font-weight: 300;
}

body {
  background-color: #c6e2f6;
  color: #575757;
}

.App {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.container {
  background-color: #ffffff81;
  height: 550px;
  width: 60%;
}

h1 {
  font-weight: 600;
  font-size: 3em;
}
