@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
:root {
  --dark: #0e052e;
  --light: #c6e2f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  font-weight: 300;
}

body {
  background: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-image: url(./images/cloud.jpg);
  --background-color: var(--light);
  --text-color: var(--dark);
  --font-weight: 400;
}
body.dark {
  --background-image: url(./images/night.jpg);
  --background-color: var(--dark);
  --text-color: var(--light);
  --font-weight: 500;
}

.App {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  overflow: hidden;
}

.container {
  background-color: #ffffff60;
  height: 550px;
  width: 60%;
  overflow: hidden;
}

h1 {
  font-weight: 600;
  font-size: 3em;
}

/* Media Queries*/
/*Phone*/
/* Portrait */

@media only screen and (max-device-width: 500px) and (orientation: portrait) {
  .container {
    margin: 0 auto 15%;
    height: auto;
    width: 90%;
  }
  .dynamic-images {
    display: none;
  }
  h1 {
    font-size: 1.5em;
    margin-bottom: 3%;
  }
}

/* Landscape */
@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  .container {
    margin: 0 auto 15%;
    height: auto;
    width: 90%;
  }
  .dynamic-images {
    display: none;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 3%;
  }
}
